/* ---------------------------------------------------GRID------------------------------------- */

/* ------------------------------------INDEX INDELING -------------------------------------- */
#content_index {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  max-width: 1200px;
  position: relative;
  grid-template-areas:
    ". . . logo logo logo logo logo logo logo  . ."
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "main main main main main main main main main main main main"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer ";
}

header {
  grid-area: header;
  background: #3bbced;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 15px;
  position: relative;
}

aside {
  grid-area: carousel;
}

section {
  grid-area: logo;
  background-color: rgba(121, 0, 0, 0.692);
  width: 600px;
  text-align: center;
  border: rgb(0, 0, 0) solid 5px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 100px, auto, 100px;
  grid-auto-rows: minmax(100px, auto);
  padding: 30px;
}

/* ------------------------------Logo & Navbar--------------------------- */

nav {
  grid-area: nav;
  align-items: center;
  background-color: rgba(121, 0, 0, 0.692);
  border: rgb(0, 0, 0) solid 5px;
  border-radius: 20px;
  float: center;
  padding-left: auto;
  padding-right: auto;
  font-size: 30px;
}

nav a {
  position: static;
  text-decoration: none;
  font-weight: bold;
  color: rgb(190, 171, 154);
  font-size: 30px;
  transition: color 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.0em;
  text-decoration: underline;
}

.navbar {
  width: 100%;
  max-width: 1200px;

}

#NavIndex .navbar .links {
  display: flex;
  margin: 28px;
  margin-left: -5px;
  justify-content: space-between;
}

#NavMovie .navbar .links {
  display: flex;
  margin: 28px;
  margin-left: -5px;
  justify-content: space-between;
}

/* ---------------------------------------CAROUSEL----------------------------------- */

#index aside {
  min-height: 100px;
  display: grid;
  place-items: center;
}

.slide {
  height: 250px;
  width: 200px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}

.slide a {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}

.carousel-slider {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 100%;
}

.carousel-slider:hover .image-slider-track {
  animation-play-state: paused;
}

.image-slider-track {
  display: flex;
  /* CALC= Pixel slide width * total number slides (13) NIET GOED?? 3000 PX voor 16 slides? */
  width: 3000px;
  animation: play 25s linear infinite;
}

@keyframes play {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px*6));
  }
}

.carousel-slider::before,
.carousel-slider::after {
  background: linear-gradient(to right, rgba(121, 0, 0, 1)0%, rgba(121, 0, 0, 0)100%);
  content: '';
  height: 100%;
  width: 15%;
  z-index: 2;
  position: absolute;
}

.carousel-slider::before {
  left: 0;
  top: 0;
}

.carousel-slider::after {
  right: 0;
  top: 0;
  background: linear-gradient(to left, rgba(121, 0, 0, 1)0%, rgba(255, 255, 255, 0)100%);
}

.slide img:hover {
  transform: translateZ(20px);
  pointer-events: visible;
}

.slide a:hover {
  transform: translateZ(20px);
  pointer-events: none;
}

/* --------------------------------------- MAIN GENRES --------------------------------------- */

main .genreklik {
  color: rgb(190, 171, 154);
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.678);
}

.genreklik p {
  text-align: center;
  position: static;
  text-decoration: underline;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 10;
  border: transparent solid 3px;
}

.genreklik p:hover {
  color: white;
  border: white solid 3px;
  border-radius: 50px;
}

.rec_img {
  max-height: 400px;
  max-width: 300px;
  size: 100%;
}



body {
  height: 100vh;
  background-color: #000;
  background-image: url("img/background_main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

li {
  list-style: none;
}



/* --------------------------------------- BODY HTML --------------------------------------- */


body.movies {
  background-image: url("../Film\ website/img/popcorn.jpg");
  background-repeat: repeat;
  background-size: cover;
  transform-origin: rotate(90deg);
  position: relative;
  overflow: hidden;

}

body.aboutme {
  background: url("img/background_neutral.jpg");
  color: rgb(197, 255, 221, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* --------------------------------------- FOOTER --------------------------------------- */

footer {
  background-color: #111111dc;
}

#footerLeft {
  grid-column: 1 / 2;
}

#footerMiddle {
  grid-column: 2 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerRight {
  grid-column: 6 / 7;
}

#footerBottom {
  grid-column: 1 / 2;
}

.footer_container {
  width: 100%;
}

.social_icons {
  display: flex;
  justify-content: center;
}

.social_icons a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(190, 171, 154);
  margin: 10px;
  border-radius: 50%;
}

.social_icons a i {
  font-size: 2em;
  color: rgb(148, 22, 22);
  opacity: 0.9;
}

/* HOVER EFFECT Social Icons */

.social_icons a:hover {
  background-color: rgb(148, 22, 22);
  transition: 0.5s;
}

.social_icons a:hover i {
  color: rgb(190, 171, 154);
  transition: 0.5s;
}

/* ---------FOOTER NAVIGATION --------- */

.footerNav {
  margin-left: 0px;
}

.footerNav ul {
  display: block;
  justify-content: center;
}

.footerNav ul li {
  margin: 10px;
}

.footerNav ul li a {
  color: rgb(190, 171, 154);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerNav ul li a:visited {
  color: rgb(190, 171, 154);
}

/* ---------------SEARCH BOX------------- */

.box {
  max-width: 400px;
  width: 100%;
}

.box .search-box {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 200px;
  background: #111111dc;
  margin: auto;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box .search_icon {
  color: white;
  position: absolute;
  right: -23px;
  top: 0;
  width: 50px;
  background: #111111dc;
  height: 104%;
  border-radius: 0 25px 25px 0;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

/* -------------FOOTER TEXT-------------- */

.footerCopyright {
  padding: 10px;
  text-align: right;
  margin-right: 50px;
}

.footerCopyright p {
  color: white;
}

.footerCopyright p span {
  text-decoration: underline;
  font-weight: bold;
}


/* --------------------------------------- ABOUT PAGE --------------------------------------- */

h1.title {
  color: white;
  font-size: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  text-align: center;

}

h5 {
  color: white;
  font-style: italic;
  position: relative;
  top: -30px;
  left: -160px;
  text-align: center;

}

div.main_text {
  background-color: rgba(0, 0, 0, 0.185);
  margin-left: 465px;
  margin-bottom: 5px;


}

img.jochem_foto {
  height: 875px;
  position: absolute;
}

ul.lijst1 {
  position: relative;
  font-style: italic;
  font-style: bold;
}

.highlight {
  text-decoration: underline;
}

/* --------------------------------------- DFKJSLDKFJSDLKFJSDLKS --------------------------------------- */