#content_index2 {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 50px, 1fr, 1fr, 1fr, 1fr, 1fr, 50px;
  grid-template-rows: 100px, 100px;
  grid-gap: 10px;
  position: relative;
  grid-template-areas:
    ". nav nav nav nav nav ."
    ". intel intel intel intel intel ."


  ;
}

div.intel {
  grid-area: intel;
  background: blueviolet;
}

.intel_grid {
  display: grid;
  grid-template-areas:
    "k1 k2 k3"
    "k4 k5 k6"
  ;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 100px, 100px;
  justify-content: space-evenly;
}

.kopje {
  background-color: green;
  padding: 10px;
  border: #000 solid 3px;
  border-radius: 250px;
}

#kopje1 {
  grid-area: k1;
}

#kopje2 {
  grid-area: k2;
}

#kopje3 {
  grid-area: k3;
}

#kopje4 {
  grid-area: k4;
}

#kopje5 {
  grid-area: k5;
}

#kopje6 {
  grid-area: k6;
}