#content_index_movie {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 50px, 1fr, 1fr, 1fr, 1fr, 1fr, 50px;
  grid-template-rows: 100px, 100px;
  grid-gap: 10px;
  position: relative;
  grid-template-areas:
    ". nav nav nav nav nav ."
    ". intel intel intel intel intel ."
    ". main_movie main_movie main_movie main_movie main_movie ."
    ". ft ft ft ft ft ."



  ;
}

#content_index_actor {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  position: relative;
  grid-template-areas:
    "nav nav"
    "intel intel"
    "main_movie main_movie"
    "ft ft"



  ;
}

span.titel_movie {
  font-weight: bolder;
  text-decoration: dashed;
  font-size: 1.4em;
}

.footer_movie {
  max-width: 1200px;
  margin: auto auto;
}

/* -----------------------------------------INFORMATIE STAMPS---------------------- */
div.intel {
  grid-area: int;
  position: absolute;
  right: 100px;
  bottom: 30px;
}

.intel_grid {
  display: grid;
  grid-gap: 10px;
  column-gap: 40px;
  grid-template-areas:
    "k1 k2 k3"
    "k4 k5 k6"
  ;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 10px, 10px;
  justify-content: space-evenly;
}

.kopje {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  padding: 10px 10px;
  border: #000 solid 3px;
  border-radius: 250px;
  text-align: center;
  font-size: 15px;
}

.kopje p {
  margin-top: -10px;
  padding-bottom: 5px;
  text-decoration: underline;
}

#kopje1 {
  grid-area: k1;
}

#kopje2 {
  grid-area: k2;
}

#kopje3 {
  grid-area: k3;
}

#kopje4 {
  grid-area: k4;
}

#kopje5 {
  grid-area: k5;
}

#kopje6 {
  grid-area: k6;
}

/* ----------------------------------------------Text + Photo ------------------------------- */

.maintext_actor {
  display: inline;
  padding: 20px;
  background-color: burlywood;
  grid-template-columns: 1100px;
  display: grid;
  border: #000 solid 2px;
  grid-gap: 10px;
  width: 100%;
}




.maintext_movie {
  grid-area: main_movie;
  padding: 20px;
  background-color: burlywood;
  display: grid;
  border: #000 solid 2px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  grid-template-areas:
    "im im im tm tm tm tm tm"
    "im im im tm tm tm tm tm"
    "im im im tm tm tm tm tm"
    "im im im tm tm tm tm tm"
    "xt xt xt int int int int int"
    "xt xt xt int int int int int"
    "xt xt xt int int int int int"
  ;
}

footer {
  grid-area: ft;
}

.maintext_movie .img_movie {
  grid-area: im;
}

.maintext_movie .text_movie {
  grid-area: tm;
  padding: 20px;
  padding-top: 5px;
}

.img_movie img {
  height: 600px;
}

/* ----------------------------------------------ACTORS---------------------------------- */

.actors_movie {
  grid-area: xt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.actors_movie img {
  max-width: 230px;
  max-height: 150px;
  width: auto;
  height: auto;
  display: inline;
  margin-bottom: 5px;
}

.actors_movie p {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.actors_movie input {
  background-color: whitesmoke;
  text-align: center;
}

.actor1 input:hover {
  color: red;
  opacity: 0.8;
}

/* -----------------------------------------Review---------------------------------------------- */

.review_movie {
  grid-area: rvw;
  border: black solid 2px;
  border-radius: 15px;
}